/*
* Masonry Layout
*/
.rtmedia-activity-container .rtmedia-list.masonry {
    margin-top: 0.5rem;
}

.rtmedia-activity-container .rtmedia-list.masonry li.media-type-photo {
    width: 32% !important;
    height: auto !important;
    margin: 0;
}

.rtmedia-activity-container .rtmedia-list-item.masonry-brick {
    display: inline-block;
    float: left;
    padding: 0 !important;
}

/*
* Normal Layout
*/
.rtm-activity-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -3px !important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;

    &:after,
        &:before {
        content: normal;
    }
}

.media-type-photo .rtmedia-item-thumbnail {
    border-radius: 3px;
}

.media-type-photo {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.rtmedia-activity-media-length-1 .media-type-photo,
.rtmedia-activity-media-length-4 .media-type-photo:first-child,
.rtmedia-activity-media-length-3 .media-type-photo:first-child {
    flex: 0 0 100%;
    max-width: 100%;
    min-width: 0;
}

.rtm-activity-media-list:not(.rtmedia-activity-media-length-1):not(.rtmedia-activity-media-length-3):not(.rtmedia-activity-media-length-4) .media-type-photo:first-child,
.rtm-activity-media-list:not(.rtmedia-activity-media-length-4) .media-type-photo:nth-child(2),
.rtm-activity-media-list.rtmedia-activity-media-length-3 .media-type-photo:nth-child(3) {
    flex: 0 0 50%;
    max-width: 50%;
}

.media-type-photo .rtmedia-item-thumbnail {
    margin: 0;
    padding-top: 100%;
    border-radius: 3px;
    position: relative;
}

.media-type-photo .rtmedia-item-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}

.rtmedia-activity-media-length-1 .media-type-photo .rtmedia-item-thumbnail {
    padding-top: 0;
}

.rtmedia-activity-media-length-1 .media-type-photo .rtmedia-item-thumbnail img {
    position: relative;
}

.rtm-activity-media-list.rtmedia-activity-media-length-3 .media-type-photo:first-child .rtmedia-item-thumbnail,
.rtm-activity-media-list.rtmedia-activity-media-length-4 .media-type-photo:first-child .rtmedia-item-thumbnail {
    margin: 0;
    padding-top: 52.56%;
    border-radius: 3px;
    position: relative;
}

.rtm-activity-media-list.rtmedia-activity-media-length-3 .media-type-photo:first-child .rtmedia-item-thumbnail img,
.rtm-activity-media-list.rtmedia-activity-media-length-4 .media-type-photo:first-child .rtmedia-item-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}

.rtm-media-plus4 .rtmedia-item-thumbnail,
.rtm-media-plus4 a {
    position: relative;
}

.rtm-media-plus4 .rtmedia-item-thumbnail:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.3);
}

.rtmedia-remain-count {
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 543px) {
        font-size: 24px;
    }
}

.widget .rtmedia-remain-count {
    font-size: 16px;
}

.rtm-media-after4 {
    display: none !important;
}

.rtmedia-list-item>a {
    cursor: pointer;
}

.rtmedia-list > li.rtmedia-list-item .rtmedia-item-thumbnail > img {
    transition: opacity 0.25s ease-out, transform 0.3s ease-out;
}

.rtmedia-list > li.rtmedia-list-item:hover .rtmedia-item-thumbnail > img {
    transform: scale(1.1);
}

.rtmedia-activity-container li.media-type-photo:not(.masonry-brick) .rtmedia-item-thumbnail img {
    object-fit: cover;
}

.rtmedia-activity-container ul.rtmedia-list.rtm-activity-media-list:not(.rtmedia-activity-media-length-1) {

    li.media-type-photo:not(.masonry-brick) {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 3px !important;
        line-height: 0;
    }
}

body .rtmedia-activity-container li.media-type-photo {
    width: 100% !important;
    height: 100% !important;
}

body .rtmedia-activity-container ul.rtm-activity-media-list {
    overflow: hidden;
}

.rtmedia-activity-container .rtmedia-item-title,
#buddypress div.rtmedia-activity-container .rtmedia-item-title {
    display: none;
}

/*
* Media Page
*/
.media .rtmedia-container {
    background: $color_white;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.media .rtmedia-list:not(.masonry) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.media .rtmedia-container .rtmedia-list.rtmedia-list-media:not(.masonry) > li.rtmedia-list-item {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 5px;

    @media (max-width: 480px) {
        width: 100%;
        height: 100%;
    }
}

.media .rtmedia-list-item.masonry-brick {
    overflow: hidden;
}

.media .rtmedia-list.rtmedia-list-media:not(.masonry) > li.rtmedia-list-item .rtmedia-item-thumbnail {
    background: #000;
}

.media .rtmedia-container ul.rtmedia-list:not(.masonry) li.rtmedia-list-item div.rtmedia-item-thumbnail,
.media .rtmedia-container ul.rtmedia-list:not(.masonry) li.rtmedia-list-item div.rtmedia-item-thumbnail img {
    width: 180px;
    height: 180px;
    line-height: inherit;

    @media (max-width: 480px) {
        width: 100%;
        height: 100%;
        min-height: 200px;
        max-height: 200px;
    }
}

.media .rtmedia-container ul.rtmedia-list:not(.masonry) li.rtmedia-list-item div.rtmedia-item-thumbnail img {
    object-fit: cover;
}

.media .rtmedia-list.rtmedia-list-media > li.rtmedia-list-item:hover .rtmedia-item-thumbnail > img {
    opacity: .4;
    animation: lightBlur .5s forwards;
}

@-webkit-keyframes lightBlur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes lightBlur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}

.media .rtmedia-gallery-item-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 9;
}

.media .rtmedia-list.rtmedia-list-media > li.rtmedia-list-item .rtmedia-gallery-item-actions > a {
    color: rgba(255, 255, 255, 0.8);
    pointer-events: auto;
    text-decoration: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
}

.media .rtmedia-list.rtmedia-list-media > li.rtmedia-list-item .rtmedia-gallery-item-actions > a:not(.rtm-delete-media) {
    background: rgba(248,248,248,0.15);
}

.media .rtmedia-list.rtmedia-list-media > li.rtmedia-list-item .rtmedia-gallery-item-actions .rtm-delete-media {
    margin-top: .5rem;
}

.media .rtmedia-list.rtmedia-list-media > li.rtmedia-list-item .rtmedia-gallery-item-actions .rtm-delete-media:hover {
    color: #f00;
}

/* Edit Media :: Start */
@media (max-width: 46.8em) {
    .rtmedia-edit-title input#media_title,
    .rtmedia-edit-change-album .rtmedia-merge-user-album-list,
    .rtmedia-edit-privacy .rtm-form-select {
        width: 100%;
    }
}

#buddypress .rtmedia-editor-buttons .rtm-button-save,
#buddypress a.button.rtm-button-back {
    padding: 7px 15px;
}
/* Edit Media :: End */


/* rtmedia read more text */
.rtmedia-activity-text .rtmedia-more-text{
    display: none!important;
}