//This sample requires the Pro version to pull in the required LESS files
//Rename this file to custom.less, then compile to custom.css

@import "../pro/assets/css/skins/less/defaults.less";

@skinName: custom;
@accent: #007AFF; //#35AC6A;

@background:#1D1D20;
@color: #eee;
@edge-border: none;

@font-size:13px;
@line-height:1.3em;


@header-font-size: 30px;
@header-text-align: left;
@header-font-weight: normal;
@header-color: #eee;

@target-color: @color;
@target-font-weight: normal;
@target-border-top:1px solid #292929;
@target-border-bottom:1px solid #111;

@target-active-color:#eee;
@target-active-background: @accent;

@target-current-color:#eee;
@target-current-background: @accent;

@target-active-border-top-color: rgba(255,255,255,.2);
@target-active-border-bottom-color: rgba(0,0,0,.5);

@target-text-shadow:0 1px 1px rgba(0,0,0,.5);

@target-text-transform-l1: uppercase;

@activation-background: rgba(0,0,0,.1);
@activation-background-hover: rgba(0,0,0,.2);
@activation-color-hover: #eee;
@activation-color-active: #eee;

@highlight-color: @accent;
@highlight-background: transparent;

@retractor-background: rgba(0,0,0,.2);
@retractor-color: #fff;
@retractor-font-size:12px;
@retractor-text-align:right;

@submenu-color:#ccc;
@submenu-background:#25252A;

@submenu-target-color:#999;

@target-submenu-target-border-top-color: rgba(255,255,255,.05);
@target-submenu-target-border-bottom-color: rgba(0,0,0,.15);

@submenu-padding-l2: 50px;
@submenu-padding-l3: 75px;
@submenu-padding-l4: 100px;


@import "../pro/assets/css/skins/less/skin.less";